{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock title %}
{% block title_2 %}Inscription{% endblock title_2 %}
{% block taille %}w-50{% endblock taille %}
{% block taille2 %}w-50{% endblock taille2 %}

{% block body %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_widget(registrationForm)}}
        <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary my-3 mx-5">Inscription <i class="fas fa-check"></i></button>
                    <button class="btn btn-primary my-3 mx-5"><a class="customize" href="{{ path('default_accueil') }}">retour <i class="fas fa-undo-alt"></i></a></button>
        </div>
    {{ form_end(registrationForm) }}





{% endblock %}
