{% extends 'base.html.twig' %}

{% block body %}Hello DefaultControlleradazda!
<div>
    Filter les sorties
</div>
<div>
    {{ form_start(form_accueil) }}
    {{ form_end(form_accueil) }}
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sorties in listeSorties %}
            <tr>

                <td>{{ sorties.nom }}</td>
                <td>{{ sorties.dateHeureDebut|date('m/d/y')}}</td>
                <td>{{ sorties.dateLimiteInscription|date('m/d/y') }}</td>
                <td>{{ sorties.listeDesInscrits | length }}/{{ sorties.nbIncriptionsMax }}</td>
                <td>{{ sorties.etatSortie.libelle}}</td>

                <td></td>
                //TODO inscrit true /false
                <td>{{ sorties.organisateur.pseudo}}</td>
{#                //TODO récupérer les nom des organisateurs#}
                <td>
                        {#  les actions #}
{#                    {% if sorties.idOrganisateur === user.id  %}#}
                        <a href="#">s'incrire -</a>
                        <a href="#">se désinscrire -</a>
                        <a href="#">modifier -</a>
                        <a href="#">annuler -</a>
                        <a href="#">afficher</a>
{#                    {% endif %}#}
                </td>





            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <button type="button"><a href="{{ path('sortie_new') }}">Créer sortie</a></button>
</div>

{% endblock body%}

