{% extends 'base.html.twig' %}
{% block title %}Afficher une sortie{% endblock %}
{% block title_2 %}Afficher une sortie{% endblock title_2 %}
{% block taille %}w-75{% endblock taille %}
{% block taille2 %}w-75{% endblock taille2 %}

{% block body %}
                <div class="row">
                    <div class="row col-md-6">
                        <label class="col-md-6 my-2"><strong> Nom de la sortie :</strong></label><p class="col-md-6 my-2">{{ sortie.nom }}</p>
                        <label class="col-md-6 my-2"><strong> Date et heure de la sortie :</strong></label><p class="col-md-6 my-2">{{ sortie.dateHeureDebut | format_datetime('short', 'short', locale='fr') }}</p>
                        <label class="col-md-6 my-2"><strong> Date limite d'inscription :</strong></label><p class="col-md-6 my-2">{{ sortie.dateLimiteInscription |date('d/m/y')  }}</p>
                        <label class="col-md-6 my-2"><strong> Nombre de place :</strong></label><p class="col-md-6 my-2">{{ sortie.nbIncriptionsMax }}</p>
                        <label class="col-md-6 my-2"><strong> Durée :</strong></label><p class="col-md-6 my-2">{{ sortie.duree }} minutes</p>
                        <label class="col-md-6 my-2"><strong> Description et infos :</strong></label><p class="col-md-6 my-2">{{ sortie.infosSortie}}</p>
                    </div>
                    <div class="row col-md-6">
                        <label class="col-md-5 my-2"><strong> Campus :</strong></label><p class="col-md-7 my-2">{{ campus.nomCampus }}</p>
                        <label class="col-md-5 my-2"><strong> Lieu :</strong></label><p class="col-md-7 my-2">{{ lieu.nom }}</p>
                        <label class="col-md-5 my-2"><strong> Rue :</strong></label><p class="col-md-7 my-2">{{ lieu.rue }}</p>
                        <label class="col-md-5 my-2"><strong> Code postal :</strong></label><p class="col-md-7 my-2">{{ ville.codePostal }}</p>
                        <label class="col-md-5 my-2"><strong> Latitude :</strong></label><p class="col-md-7 my-2">{{ lieu.latitude }}</p>
                        <label class="col-md-5 my-2"><strong> Longitude :</strong></label><p class="col-md-7 my-2">{{ lieu.longitude }}</p>
                    </div>
                    <div class="row mt-5 mb-3">
                        <div class="col-9">
                            <table class="table">
                                <thead>
                                    <tr class="table-dark">
                                        <th>Pseudo</th>
                                        <th>Nom</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% set listeInscrits = sortie.listedesinscrits %}
                                {% for inscrit in listeInscrits %}
                                {% if  user.getId == inscrit.getId %}
                                    <tr class="table-success">
                                        <th scope="row">{{ inscrit.pseudo }}</th>
                                        <td>{{ inscrit.nom}}</td>
                                {% else %}
                                    <tr class="table-default">
                                    <td>  <a href="{{ path('profil_afficher', {'id': inscrit.id }) }}">{{ inscrit.pseudo}}</a></td>
                                        <td>{{ inscrit.nom}}</td>
                                {% endif %}
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            <div>
                                <button class="btn btn-primary mx-4"><a class="customize" href="{{ path('default_accueil') }}">retour <i class="fas fa-undo-alt"></i></a></button>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}