{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>Annuler une sortie</h1>
    <div>
        Nom de la sortie : {{ sortie.nom }}
    </div>
    <div>
        Date de la sortie : {{ sortie.dateHeureDebut|date("m/d/Y") }}
    </div>
    <div>
        Campus : {{ sortie.siteOrganisateur.nomCampus }}
    </div>
    <div>
        Lieu : {{ sortie.lieu.rue }},{{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}
    </div>
    <div>
        {{ form_start(form) }}
        <button type="submit" class="btn btn-primary mx-4">Enregistrer</button>
{#        <button class="p-1 btn btn-primary"><a class="nav-link p-0" href="{{ path('default_accueil') }}">Annuler</a></button>#}
        <button class="btn btn-primary mx-4"><a class="customize" href="{{ path('default_accueil') }}">Annuler</a></button>
        {{ form_end(form) }}
    </div>

</div>
{% endblock body %}