{% extends 'base.html.twig' %}
{% block title %}Annuler une sortie{% endblock %}
{% block title_2 %}Annuler une sortie{% endblock title_2 %}
{% block taille %}w-50{% endblock taille %}
{% block taille2 %}w-50{% endblock taille2 %}

{% block body %}
<div class=" d-flex justify-content-center">
    <div class="row w-75 my-1">
        <label class="col-md-4 my-1">Nom de la sortie :</label><p class="col-md-8 my-1">{{ sortie.nom }}</p>
        <label class="col-md-4 my-1">Date de la sortie :</label><p class="col-md-8 my-1">{{ sortie.dateHeureDebut | date('m/d/y') }}</p>
        <label class="col-md-4 my-1">Campus :</label><p class="col-md-8 my-1">{{ sortie.siteOrganisateur.nomCampus }}</p>
        <label class="col-md-4 my-1">Lieu :</label><p class="col-md-8 my-1">{{ sortie.lieu.nom }}{{ sortie.lieu.rue }}</p>
        <label class="col-md-4"></label><p class="col-md-8"> {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</p>
        <div class="row my-1">
            {{ form_start(form) }}
            {{ form_row(form.motif) }}
            <div class="d-flex justify-content-center my-3">
                <button type="submit" class="btn btn-primary mx-4">Enregistrer <i class="fas fa-check"></i></button>
                <button class="btn btn-primary mx-4"><a class="customize" href="{{ path('default_accueil') }}">retour <i class="fas fa-undo-alt"></i></a></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock body %}