{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block title_2 %}{{title}}{% endblock title_2 %}
{% block taille %}w-75{% endblock taille %}
{% block taille2 %}w-75{% endblock taille2 %}

{% block body %}

      {{ form_start(sortieForm) }}
      <div class="row">
          <div class="col-md-6">
              {{ form_row(sortieForm.nom) }}
              {{ form_row(sortieForm.dateHeureDebut) }}
              {{ form_row(sortieForm.dateLimiteInscription) }}
              {{ form_row(sortieForm.nbIncriptionsMax) }}
              {{ form_row(sortieForm.duree) }}
              {{ form_row(sortieForm.infosSortie) }}
          </div>
          <div class="col-md-6">
              {{ form_row(sortieForm.campus) }}
              {{ form_row(sortieForm.villes) }}
              {{ form_row(sortieForm.lieu) }}
          </div>
      </div>
      <div class="row p-4">
          {% if btnEnregistrer == 1 %}
              <div class="col d-flex justify-content-center p-2">
                  <button name="btn-submit" type="submit" class="btn btn-primary mx-4" value="creer">Enregistrer <i class="fas fa-check"></i></button>
              </div>
          {% endif %}
          {% if btnPublier == 1 %}
              <div class="col d-flex justify-content-center p-2">
                  <button name="btn-submit" type="submit" class="btn btn-primary mx-4" value="publier">Publier la sortie <i class="fas fa-upload"></i></button>
              </div>
          {% endif %}
          <div class="col d-flex justify-content-center p-2">
              <button name="btn-submit" type="submit" class="btn btn-primary mx-4" value="annuler">Retour <i class="fas fa-undo-alt"></i></button>
          </div>
      </div>
      {{ form_end(sortieForm) }}
           
{% endblock %}