<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </head>
    <body>

        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url('default_accueil') }}"><img class="img-fluid" src="{{ asset ('img/SortirLogo.png')}}" width="60px"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor02">
                        {% if app.user %}
                        <ul class="navbar-nav me-auto d-flex justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('default_accueil') }}">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('profil_modifier', {"id":app.user.id})}}">Mon profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('sortie_new', {"id":app.user.id})}}">Créer une sortie</a>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link"> Connecté en tant que {{ app.user.pseudo }}</p>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('app_logout') }}">Se déconnecter</a>
                            </li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url('app_register') }}">Inscrire un utilisateur</a>
                                </li>
                            {% endif %}
                        </ul>
                        {% endif %}

                    </div>
                </div>
            </nav>
        <div>
        {% endblock %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class=" alert alert-dismissible alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        </div>

        <div class="p-3 d-flex justify-content-center">
            <div class="border-primary card {% block taille %}{% endblock taille %}">
                <div class="card-header">{% block title_2 %}  le titre {% endblock title_2 %}</div>
                <div class="card-body">
                    {% block body %}  Block Body  {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
